README.md
EDA.ipynb
diabetes_dataset_text.txt
Diabetes Dataset Link
BootCamp - Presentation - Diabetes Predictor.pdf
ML_Model_KNN.ipynb
Project_EDA.ipynb
webpage
Slides URL
Storyboard.pdf
clean_data_jeremy.csv
clean_data_json.csv
cleaing data files.iptnb
