README.md
EDA.ipynb
diabetes_dataset_text.txt
Diabetes Dataset Link
JSON_DATA.ipynb
SMOTE random tree not all data.png
diabetes_dataset_text.txt
charts.ipynb
SMOTE random tree with all data.png
Model.ipynb
